

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $light;
    opacity: .8;
    a {
        text-decoration: none;
        color: $dark;
        &:hover {
            color: $gray-600;
        }
    }
    .footer-navigation {
        margin-right: 2%;
        ul {
            list-style-type: none;
            padding: 0;
            display: inline-flex;
            li {
                padding: 0 $list-h-space;
                &.current_page_item {
                    font-weight: $font-bold;
                }
            }
            :not(:first-child) {
                &::before {
                    content: $list-separator;
                    font-weight: $list-separator-weight;
                    position:absolute;
                    margin-left: -$list-h-space;
                }
            }
        }
    }
    .site-info {
        margin: 0 $list-h-space;
        font-size: $font-tiny;
    }
}