#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
    .background {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background: $dark;
    }
    .content {
        z-index: 20;
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .prev, .next {
            width: 60px;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;    
            z-index: 30;
            &:hover {
                .dashicons {
                    color: $gray-500;
                }
            }
        }
        .img-wrapper {
            width: 80%;
            height: 100%;
            .image {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
    }
    .close {
        position: absolute;
        width: 60px;
        height: 60px;
        cursor: pointer;
        top: 0;
        right: 0;  
        margin-right: $padding-lg;
        margin-top: $padding-lg;
        z-index: 30;
        &:hover {
            .dashicons {
                color: $gray-500;
            }
        }
    }
    .dashicons {
        color: $light;
        font-size: 60px;
        transition: all .3s ease-in;
    }
}