// Components variables


// List variables

// List 
$list-separator: '|';
$list-separator-weight:200;
$list-h-space: .6rem;
$list-v-space: 1rem;

// Paddings
$padding-lg: 32px;
$padding-md: 18px;
$padding-sm: 12px;

// Button
$button-lg: 42px;
$button-md: 24px;
$button-sm: 12px;

// Spaces
$space-lg:160px;
$space-md:90px;

// Container
$container-size: 1040px;