// Fonts

// Import fonts 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&display=swap');

// Font Families
$font-basic: "Work Sans", Helvetica, Verdana, sans-serif;

// Font Sizes
$font-light: 300;
$font-normal: 400;
$font-bold: 600;
$font-black: 900;